html{
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 18px;
}

html::-webkit-scrollbar-track {
  background-color: rgb(0, 0, 0);
  /* border-radius: 50px; */
  
}

html::-webkit-scrollbar-thumb {
  background-color: yellow;
  border-radius: 100px;
}
/* #header{
  height:150px;
  width: 150px;
  padding: 20px;
  
} */
img{
  height:100px;
  width: 400px;
  /* padding: 20px; */
  
  /* border-radius: 50px; */
  /* transition: all;
  
  transition-duration: 3s; */

}

header::before {
    background: url(bg5.jpg) no-repeat center center/cover;
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: -1;
    opacity: 1;
  }
  body{
    color: white;
  }
  h1,
  h2,
  h3 {
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  h1 {
    text-align: center;
    font-size: 2.3rem;
  }
  p {
    font-size: 1.4rem;
    text-align: center;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    color: rgb(255, 230, 0);
  }
  .main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .head2 {
    margin-left: 50px;
    font-size: 1.4em;
  }
  .head3 {
    margin-top: 5px;
    margin-left: 50px;
    font-size: 1.4em;
  }
  ol {
    color: yellow;
  }
  input {
    font-size: 1.2rem;
    border: 3px solid red;
    border-radius: 3px;
    padding: 3px;
    text-align: center;

    margin: 20px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
  button {
    font-size: 1.2rem;
    border: 3px solid red;
    border-radius: 20px;
    padding: 3px;
    text-align: center;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    margin: 20px;

    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 36px;
  }
  .paraend {
    font-size: 1.3rem;
    text-align: center;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    color: rgb(255, 255, 255);
  }
  input:hover {
    font-size: 1.25rem;
    background-color: black;
    color: white;
  }
  button:hover {
    font-size: 1.25rem;
    background-color: black;
    color: white;
  }
  a {
    text-decoration: none;
    color: rgb(0, 0, 255);
  }

  .center {
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: large;
    border: 2px solid black;
    /* border-radius: 10px; */
  
    background-color: rgba(255, 255, 255, 0.14);
    padding: 5px;
    margin-bottom: 0px;
    bottom: 0px;
    max-width:100%;
  }
  .big {
    margin-top: 250px;
    /* border: 5px solid #331907; */
    height: 250px;
    border-radius: 50px;
    margin-left: 40px;
    margin-right: 40px;
  }
  #con {
    margin-top: 0px;
    font-size: 32px;
    color: yellow;
    /* position: center; */
    text-align: center;
    justify-content: center;
  }
  #feel {
    font-size: 24px;
    font-weight: bold;
    color: white;
    /* position:center; */
    text-align: center;
    /* padding-left: 50px;
    margin-top: 0px;
    padding-top: 0px; */
  }
  ul#cont {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 0px; */
    margin-right: 40px;
  }
  .img1 {
    width: 50px;
    height: 35px;
    /* margin-right: 150px; */
    /* position: center;  */
    background-color: white;
  }
  .img1:hover{
    border: 2px solid black;
    border-radius: 10px;
    
  }
  .header{
    text-align:center; height:200px; width:300px; margin:auto; transition-duration:0.3s;
  }
  footer{
    height: 180px;
}
  